version: "3.9"

services:
  dnsscanner:
    build: .
    container_name: dnsscanner
    ports:
      - "5000:5000"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: 1G
